
.container {
  display: flex;
  width: auto;
}

.button {
  margin: 5px;
  border: 2px solid black;
  border-radius: 15px;
}
.input {
  padding: 10px;
}

.label {
  padding: 5px;
}

#form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 7px;
}
